<h1>
  {{title}}
</h1>


  <app-button>Loading...</app-button>
  <app-gridlist>Loading...</app-gridlist>
  <app-checkbox>Loading...</app-checkbox>
  <app-input>Loading...</app-input>

  <app-bar>Loading...</app-bar>
  <app-circle>Loading...</app-circle>
  <app-radio>Loading...</app-radio>
  <app-toolbar>Loading...</app-toolbar>

  <app-slider>Loading...</app-slider>
