<p> Grid List Example </p>
<md-card>
   <md-grid-list cols="4" [style.background]="'lightblue'" rowHeight="100px">
      <md-grid-tile>One</md-grid-tile>
      <md-grid-tile>Two</md-grid-tile>
      <md-grid-tile>Three</md-grid-tile>
      <md-grid-tile>Four</md-grid-tile>
   </md-grid-list>
</md-card>

<div class="mycolor">
<p> Grid Tile Config </p>
      <md-card>
          <md-grid-list cols="4" rowHeight="100px">
            <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
              {{tile.text}}
            </md-grid-tile>
          </md-grid-list>
      </md-card>
</div>
