<h1>Input Components</h1>

<div class="inputclass">
    <md-input placeholder="amount" align="end">
      <span md-prefix>$&nbsp;</span>
      <span md-suffix>.00</span>
    </md-input>

    <md-input placeholder="Character count (100 max)" maxlength="100" class="demo-full-width"
              value="Hello world. How are you?"
              #characterCountHintExample>
      <md-hint align="end">{{characterCountHintExample.characterCount}} / 100</md-hint>
    </md-input>

    <md-card class="demo-card demo-basic">
      <md-toolbar color="primary">Basic</md-toolbar>
      <md-card-content>
        <form>
          <md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="Google">
          </md-input>

          <table style="width: 100%" cellspacing="0"><tr>
            <td><md-input placeholder="First name" style="width: 100%"></md-input></td>
            <td><md-input placeholder="Long Last Name That Will Be Truncated" style="width: 100%"></md-input></td>
          </tr></table>
          <p>
            <md-input class="demo-full-width" placeholder="Address" value="1600 Amphitheatre Pkway"></md-input>
            <md-input class="demo-full-width" placeholder="Address 2"></md-input>
          </p>
          <table style="width: 100%" cellspacing="0"><tr>
            <td><md-input class="demo-full-width" placeholder="City"></md-input></td>
            <td><md-input class="demo-full-width" placeholder="State"></md-input></td>
            <td><md-input #postalCode class="demo-full-width" maxlength="5"
                          placeholder="Postal Code"
                          value="94043">
              <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
            </md-input></td>
          </tr></table>
        </form>
      </md-card-content>
    </md-card>
</div>
