<h1>
  {{title}}
</h1>
<p> MD CARD Structure</p>
<md-card>
  <app-root>Loading...</app-root>
  <app-button>Loading...</app-button>
  <app-checkbox>Loading...</app-checkbox>
  <app-radio>Loading...</app-radio>
  <app-bar>Loading...</app-bar>
  <app-toolbar>Loading...</app-toolbar>
  <app-gridlist>Loading...</app-gridlist>
  <app-slider>Loading...</app-slider>
</md-card>
