<h1>
  {{title}}
</h1>

<md-card>
  <md-toolbar [color]="warn">
    <span>My Toolbar</span>
  </md-toolbar>
</md-card>

<md-toolbar [color]="accent">
  <span>First Row</span>

  <md-toolbar-row>
    <span>Second Row</span>
  </md-toolbar-row>

  <md-toolbar-row>
    <span>Third Row</span>
  </md-toolbar-row>
</md-toolbar>

<md-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</md-toolbar>
